{%extends 'base.html'%}

{%block content%}
<br>
<br>
<div class=" container shadow-lg p-3 mb-5 bg-secondary rounded " style="text-align:center">

  <h3 class="font-italic text-justify  p-3 mb-2 bg-danger text-white">Product Hunt surfaces the best new products, every day. It's a place for product-loving enthusiasts to share and geek out about the latest mobile apps, websites, hardware projects, and tech creations.</h3>
  <h4 class="text-white">Here You can share and discover new products !!!.</h4>
  
</div>


<br>


{%for product in products.all%}
<div class="container p-3 mb-2 bg-success ">
<div class="row pt-3">
  <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';"style="cursor:pointer;">
    <img src="{{ product.icon.url}}" class="img-fluid" />
    </div>
  <div class="col-8"onclick="window.location='{% url 'detail' product.id %}';"style="cursor:pointer;">
    <h1>{{product.title}}</h1>
    <p>{{product.summary}}...<a href="{% url 'detail' product.id %}">Read More</a></p>
  </div>
  <div class="col-2">
    <a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}">
      <button class="btn btn-secondary btn-lg btn-block" name="button">Upvote {{product.votes_total}}
      </button>
    </a>
  </div>

</div>
</div>
<form id="upvote{{product.id}}" action="{% url 'upvote' product.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="" value="">
</form>
{% endfor%}
{%endblock%}
